<%- include('partials/_header') %>

  <p>ESTAMOS EN EL WORK</p><br>
  <p>funciona</p>


  <table class="table" >

    <tr>
      <th>DIA DE PAGO</th>
      <th>Anuncio</th>
      <th>Huesped</th>
      <th>Noches</th>
      <th>Monto</th>
      <th>%</th>

      <th>Recibido</th>
    </tr>
    
    <tr>
      <td><%= paypal[0].fecha %></td>
      <td></td>
      <td></td>
      <td></td>
      <td>$ <%= cashIn.toLocaleString() %></td>
      <td></td>
      <td>$ <%= paypal[0].cantidad.toLocaleString() %></td>
    </tr>
    
    <% for (x=0; x< pago1.length; ++x) { %>
      <tr>
        <td><%=pago1[x].Fecha %></td>
        <td><%=pago1[x].Anuncio %></td>
        <td><%=pago1[x].Huésped %></td>
        <td><%=pago1[x].Noches %></td>
        <td>$ <%=pago1[x].Monto.toLocaleString() %></td>
        <td><%=porcentajes[x] %> %</td>
        <% let payt = pagado[x].toLocaleString() %>
        <td>$ <%=payt %></td>

      <% } %>
    </tr>

  </table>
  <p></p>
</body> 
</html> 
